@using LerningApp.Web.ViewModels.TranslationExercise
@model CreateTranslationExerciseViewModel

@{
    ViewData["Title"] = "Create Translation Exercise";
}

<div class="d-flex justify-content-between align-items-center mb-3">
    <div class="text-muted">Създай translation упражнение.</div>
    <a asp-controller="Lesson"
       asp-action="Details"
       asp-route-id="@Model.LessonId"
       class="btn btn-outline-secondary">← Назад</a>
</div>

<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="card shadow-sm">
            <div class="card-body p-4">
                <form asp-action="Create" method="post">
                    @Html.AntiForgeryToken()

                    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                    <input asp-for="LessonId" type="hidden" />
                    
                    <div class="mb-3">
                        <label asp-for="SentenceBg" class="form-label">Изречение на български.</label>
                        <input asp-for="SentenceBg" class="form-control" placeholder="Къщата е червена." />
                        <span asp-validation-for="SentenceBg" class="text-danger"></span>
                    </div>
                    
                    <div class="mb-3">
                        <label asp-for="SentenceEn" class="form-label">Изречение на английски</label>
                        <input asp-for="SentenceEn" class="form-control" placeholder="The house is red." />
                        <span asp-validation-for="SentenceEn" class="text-danger"></span>
                    </div>
                    
                    <div class="mb-3">
                        <label asp-for="GermanCorrectTranslation" class="form-label">Правилно преведнео изречение.</label>
                        <input asp-for="GermanCorrectTranslation" class="form-control" placeholder="Das Haus ist rot." />
                        <span asp-validation-for="GermanCorrectTranslation" class="text-danger"></span>
                    </div>
                    
                        <div class="col-md-6">
                            <label asp-for="OrderIndex" class="form-label">Подредба</label>
                            <input asp-for="OrderIndex" class="form-control" type="number" min="1" />
                            <span asp-validation-for="OrderIndex" class="text-danger"></span>
                        </div>

                    <div class="d-flex gap-2 mt-4">
                        <button type="submit" class="btn btn-primary">💾 Създай</button>
                        <a asp-controller="Lesson"
                           asp-action="Details"
                           asp-route-id="@Model.LessonId"
                           class="btn btn-outline-secondary">Отказ</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
